<table class="table"> 
    <thead>
        <tr>
            <th>Id</th>
            <th>BrandId</th>
            <th>ColorId</th>
            <th>CarName</th>
            <th>ModelYear</th>
            <th>Daily Price</th>
            <th>Description</th>
            <th>Units In Stock</th>

            


        </tr>

    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.carId}}</td>
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.carName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
        <td>{{car.unitsInStock}}</td>

    </tr>
</table>